Source: ruby-ruote-kit
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: David Greaves <david@dgreaves.com>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.0)
Standards-Version: 3.9.1
#Vcs-Git: git://git.debian.org/pkg-ruby-extras/ruby-ruote-kit.git
#Vcs-Browser: http://git.debian.org/?p=pkg-ruby-extras/ruby-ruote-kit;a=summary
Homepage: http://github.com/tosch/ruote-kit
XS-Ruby-Versions: all

Package: ruby-ruote-kit
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.8 | ruby-interpreter, ruby-sinatra-respond-to (>= 0.5.0), libhaml-ruby, ruby-ruote
# sinatra (= 1.0, runtime), sinatra-respond_to (= 0.5.0, runtime), haml (= 3.0.25, runtime), rufus-json (>= 0.2.5, runtime), ruote (>= 2.2.0, runtime), rspec (= 2.4.0, development), rack-test (= 0.5.7, development), webrat (= 0.7.3, development)
Description: ruote workflow engine, wrapped in a loving rack embrace
 .\n ruote workflow engine, wrapped in a loving rack embrace

